@media (min-width: 750px) {
  .ace-editor {
    top: 3.25rem;
    height: calc(100vh - 6.5rem);
    width: 50vw;
  }
}

@media (max-width: 750px) {
  .ace-editor {
    top: 3.25rem;
    height: calc(50vh - 3.25rem);
    width: 100vw;
  }
}
