.topics-wrapper {
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.topics-viewer {
  position: absolute;
  top: 3.25rem;
  min-height: calc(100vh - 3.25rem);
  width: 100vw;
}
