@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$black: #000;
$new-primary: #7d4cdb;
$new-primary-invert: findColorInvert($new-primary);
$new-link: #81fced;
$new-link-invert: findColorInvert($new-link);
$new-info: #1f7cba;
$new-info-invert: findColorInvert($new-info);

@import '~bulma/sass/utilities/derived-variables.sass';

$family-secondary: (Poppins);
$family-primary: (
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif
);

$addColors: (
  'primary': (
    $new-primary,
    $new-primary-invert
  ),
  'link': (
    $new-link,
    $new-link-invert
  ),
  'info': (
    $new-info,
    $new-info-invert
  )
);
$colors: map-merge($colors, $addColors);

@import '~bulma/bulma';
