$primary: #7d4cdb;
$dark-primary: #570786b0;
$light-primary: #c07efd;
$link: #0ce4e1;
$info: #1f7cba;
$grad1: linear-gradient($light-primary, $primary);
$grad2: linear-gradient(to right, rgba(82, 0, 214, 0.692), #c07efd9c);
$grad3: linear-gradient(to left, $dark-primary, #00000000);
$grad4: linear-gradient(to right, rgba(155, 3, 155, 0.432), #00000000);

$phone-breakpoint: 450px;
$phone-breakpoint-vert: 900px;

$tablet-breakpoint: 1500px;
$tablet-breakpoint-vert: 1200px;

$border-radius: 1rem;
