$primary-h: 260;
$primary-s: 66;
$primary-l: 58;
$primary: hsl($primary-h, $primary-s, $primary-l);
$dark-primary: hsl($primary-h + 10, $primary-s - 15, $primary-l - 20);
$light-primary: hsl($primary-h + 10, $primary-s + 30, $primary-l + 15);

$danger: hsl(348, 100%, 61%);
$link: hsl(173, 95%, 75%);
$info: hsl(204, 71%, 43%);

$grad1: linear-gradient($light-primary, $primary);
$grad2: linear-gradient(to right, hsl($primary-h + 20, $primary-s, $primary-l), $light-primary);
$grad3: linear-gradient(to left, $dark-primary, $light-primary);
$grad4: linear-gradient(to right, $primary, $light-primary);

$phone-breakpoint: 450px;
$phone-breakpoint-vert: 900px;

$tablet-breakpoint: 1500px;
$tablet-breakpoint-vert: 1200px;

$border-radius: 1rem;
